{% extends "base.html.twig" %}

{% block title %}About!{% endblock %}

{% block siteheader %}
    <h1>About</h1>
    <img src="img/symfony_black_02.png" alt="symfony" width="100px">
{% endblock %}

{% block content %}
    <h2>Om kursen!</h2>
    <p><a href="https://github.com/dbwebb-se/mvc">Länk till kursens Git-repo</a>
    <p>Kursens fokus är objektorienterade programmeringstekniker i PHP, objektorienterad programmering i webbaserat ramverk tillsammans med databaser och enhetstestning. Syftet är att förstå och kunna redogöra för utveckling med objektorienterad programmering och databaser i webbmiljö.</p>
{% endblock %}
