{% extends "base.html.twig" %}

{% block title %}Home!{% endblock %}

{% block siteheader %}
    <h1>Home page</h1>
    <img src="img/logga.png" alt="logga" width="100px">
{% endblock %}

{% block content %}
    <h2>Om mig</h2>
    <p>Hej! Amanda heter jag, jag är 26 år gammal och bor i Lund tillsammans med min sambo.</p>
    <p>Förutom att studera webbprogrammering på distans så jobbar jag som sys admin till vardags, för tillfället på ungefär 60%.</p>
    <p>På fritiden tycker jag om att umgås med familjen, virka, gå på promenader och (guilty pleasure) titta på riktigt cringe realityserier. Just nu följer jag "Älskar, älskar inte" och "Gift vid första ögonkastet". Jag rekommenderar dem som avslappningsprogram, ibland är det skönt att titta på något hjärndött.</p>
{% endblock %}
